@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-tap-highlight-color: transparent;
  @apply antialiased

code
  font-family: source-code-pro, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
  font-size: 0.8rem !important;
  font-weight: 300 !important;
  line-height: 1.9 !important;

#search
  background-color: #282a2d
#search:focus
  background-color: #313131

.site-name
  display: none !important

.sidebar 
    @apply bg-white border-theme-accent-200 !important

.navbar
    border-bottom: 2px #FF6347 solid;
    @apply bg-black 

.nav-link
   @apply text-white !important

.nav-link .outbound
   @apply text-white !important


.custom-block
    @apply rounded-md shadow-none border bg-white !important

    & .custom-block-title
      @apply text-black font-medium !important

    & summary 
      @apply text-black font-medium !important


  &.tip
    @apply border-blue-500 bg-white !important
    & .custom-block-title
      @apply text-black !important

  &.danger
    @apply border-red-500 !important

  &.warning
    @apply border-yellow-500 !important

  &.details
    @apply border-theme-accent-300 !important

.header-anchor
    color: #a0aec0

.prev,.next
 @apply text-black font-light text-sm
 a
  @apply text-black font-light text-sm

a
 @apply font-normal

a:hover
 @apply no-underline text-theme-accent-500  !important

.table-of-contents a:before
    content: "# ";
    color: #a0aec0;
    margin-left: -15px;
    margin-right: 3px;

#app > div.theme-container.no-sidebar > main > header > p.action > a
  @apply rounded-full text-gray-100 !important; 
  background-color: #2f2f41;

#app > div.theme-container.no-sidebar > main > header > p.action > a:hover
  @apply shadow-lg text-gray-200 !important; 
  background-color: #2f2f41;

.home .feature
     @apply pb-4 !important;
   h2
     @apply border-none pb-2 !important;

div.table-of-contents  ul > li:before
   content: none;

.table-of-contents a:before
  @apply text-theme-orange-light-800

.header-anchor
  @apply text-theme-orange-light-800 opacity-100 !important

div.table-of-contents > ul:first-child > li > a
  @apply text-black no-underline

div.table-of-contents > ul > li > ul > li > a
  @apply text-gray-800 no-underline


.prose h1
  @apply font-semibold!important

.prose h2,h3,h4,h5,h6
  @apply font-medium !important


.prose ul > li::before
  @apply bg-theme-orange-light-600 !important;

.prose :where(code):not(:where([class~="not-prose"] *))::before {
    content: "" !important;
  }
  .prose :where(code):not(:where([class~="not-prose"] *))::after {
    content: "" !important;
  }

p > code 
  @apply bg-gray-100 p-1 rounded-md font-semibold text-black !important;

div.prose > div.custom-block > * > a
     @apply underline text-black !important;

div.prose > *:not(.table-of-contents) a
     @apply text-theme-orange-light-800 no-underline !important;

pre > code > .token.function
  @apply text-black !important;

pre > code > .token.variable
  @apply text-black !important;

pre > code > .token.package
  @apply text-black !important;

pre > code > .token.punctuation
  @apply text-black !important;

pre > code > .token.keyword
  @apply text-red-600 !important;

pre > code > .token.property
  @apply text-black !important;

pre > code > .token.class-name
  @apply text-black !important;

pre > code > span > .token.class-name 
  @apply text-black !important;

pre > code > span > .token.function 
  @apply text-black !important;

pre > code > span > .token.punctuation
  @apply text-black !important;

pre > code > span > .token.property
  @apply text-black !important;

pre > code > span > .token.variable
  @apply text-black !important;

pre > code 
  @apply text-black !important;


pre
 font-family: source-code-pro,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace !important
 text-align: left;
 white-space: pre;
 word-spacing: normal;
 word-break: normal;
 word-wrap: normal;
 -moz-tab-size: 4;
 -o-tab-size: 4;
 tab-size: 4;
 -webkit-hyphens: none;
